body {

    position: relative;

    .fondo {
        width: 100%;
        height: 100vh;
    }

    .link-dir {

        position: absolute;
        top: 60%;
        right: 24%;
        width: 50%;

        .direccion {

            width: 100%;
        }

    }


    .redes {
        position: absolute;
        display: grid;
        grid-template-columns: 30% 20% 30% 20%;

        width: 100%;
        bottom: 2%;

        .link-linkedin {
            width: 90%;

            .linkedin {

                width: 100%;
            }
        }



        .link-face {

            width: 100%;

            .facebook {

                width: 100%;
            }

        }


        .link-instagram {

            width: 100%;

            .instagram {

                width: 100%;
            }

        }


        .link-twitter {

            width: 100%;

            .twitter {

                width: 100%;
            }

        }



    }


.link-wp{

    position: absolute;
        right: 24%;
        bottom: 12%;
        width: 15%;
}

    .qr {
       
        width: 100%;

    }



}